<div class="[ login ]">
  <div>
    <form class="[ login__form ]" [formGroup]="form" (ngSubmit)="userDetails(form.value)">
      <input class="[ login__input ]" type="text" placeholder="Please enter a username" formControlName="username" /><br />
      <span class="[ login--errors ]" *ngIf="isUsername">Please enter a correct username</span><br />
      <input class="[ login__input ]" type="password" placeholder="Please enter a password" formControlName="password" /><br />
      <span class="[ login--errors ]" *ngIf="isPassword">Please enter a correct Password</span><br />
      <button class="[ login__button ]" type="Submit">Submit</button>
    </form>
  </div>
</div>
